* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
  padding: 0;
}

.title {
  color: #2a4073;
  width: 300px;
}

.modal {
  position: absolute;
  top: 10%;
  right: 20%;
  left: 20%;
  background-color: #165e83;
  color: #fff;
  border-radius: 8px;
  padding-top: 30px;
  font-size: 20px;
}

.modal-btn {
  color: #fff;
  background-color: #165e83;
  border-radius: 10px;
  margin: 30px 0 30px 0;
  padding: 2px 6px;
  border: none;
  width: 200px;
  height: 50px;
  font-size: large;
  font-weight: bold;
}

.close-btn {
  color: #165e83;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px 0 30px 0;
  padding: 2px 6px;
  border: none;
  width: 100px;
  height: 50px;
  font-size: large;
  font-weight: bold;
}

.description-txt {
  padding: 5px 5px 5px 5px;
}

dl {
  border: 3px solid #c1e4e9;
  border-radius: 10px;
  padding: 20px;
  margin: 0 25%;
}

dd {
  margin: 0 auto;
  padding-top: 10px;
}

.point {
  font-size: 25px;
  font-weight: bold;
  color: #2a4073;
}

.num-btn {
  margin: 30px 15px 0 15px;
  padding: 6px 10px;
  color: #fff;
  background-color: #84a2d4;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: x-large;
}

.num-btn:hover {
  background-color: #eaedf7;
  cursor: pointer;
}

.random-num,
.point-num {
  font-size: 80px;
  font-weight: bold;
}

.reset-btn {
  color: #fff;
  background-color: #fabf14;
  border-radius: 10px;
  margin: 20px 0;
  padding: 6px 10px;
  border: none;
  width: 150px;
  height: 50px;
  font-size: large;
  font-weight: bold;
}

.reset-btn:hover {
  color: #fff;
  background-color: #fff1cf;
}

.footer-txt {
  color: #fff;
}
